@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.header{
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(237, 237, 237, 0.5);
  background-size: cover;
  text-align: center;
  line-height: 100px;
  border-bottom: 1px solid black;
}
.menu{
  width: 25%;
  display: inline-block;
  height: 100px;
  float: left;
  text-align: center;
  line-height: 100px;
}
.header_text{
  font-size: 35px;
  text-decoration: none;
}
.exit_button{
  font-size: 25px;
  text-decoration: none;
  color: #d3394c;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  transition: text-dexoration 1s;
}
.exit_button:hover{
  text-decoration: underline;
}
.layer{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.9);
display: none;
top: 100px;
z-index: 3;
  left: 0;
  right: 0;
}
.info_block{
  z-index: 1;
  width: 80%;
  margin: auto;
  height: 100%;
}
.info_paragraph{
  font-size: 300%;
  margin-top: 50px;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 50%;
}
.info_text{
  font-size: 150%;
  margin-top: 25px;
  text-decoration: none;
  color: white;
  height: auto;
  text-align: left;
}
.info_caption{
  font-size: 160%;
  margin-top: 25px;
  text-decoration: none;
  color: white;
  height: auto;
  text-align: center;
}
.capital{
  font-size: 150%;
  text-decoration: none;
  color: red;
}
.logo{
  width: 50%;
  text-align: center;
  display: inline-block;
  line-height: 100px;
  height: 100px;
  font-size: 2rem
}
.login{
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  color: black;
}
.checkbox1{
		font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
      font-size: 1.15rem;
    color: #d3394c;
    font-weight: 700;
  font-size: 100%;
  float: left;
}
.checkbox2{
		font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #d3394c;
	    font-size: 1.15rem;
    /* 20px */
    font-weight: 700;
  font-size: 100%;
  float: right;
}
.checkbox_block{
  margin: auto;
  margin-top: 10px;
  width: 350px;
  height: auto;
}
.header_block{
  width: 25%;
  display: inline-block;
  height: 100px;
  float: right;
  text-align: center;
  line-height: 50px;
}
.box{
	margin: auto;
	margin-top: 35px;
	text-align: center;
	width: 350px;
	height: auto;
	height: 50px;
	background-color: rgb(228, 232, 255);
	border: 3px solid #d3394c;

}
.form{
	margin: auto;
	display: block;
	margin-top: 200px;
	width: 700px;
	height: auto;
	text-align: center;
	background-color: rgb(228, 232, 255); 
  border: 1px solid rgb(228, 232, 255); 
}
.key_input{
  width: 350px;
  height: 50px;
  font-size: 1.15rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
	margin: auto;
	text-align: center;
	margin-top: 25px;
	border: 3px solid #d3394c;
	color: #d3394c;
	background: transparent;
  display: block;
  padding: 0.8em;
  border-radius: 0;
  font-weight: 500;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}
.key_input:focus{
  outline: none;
}
.submit_button{
  background-color: #d3394c;
  border: none;
  opacity: 1;
  color: white;
  width: 350px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: opacity 0.5s;
  margin-bottom: 35px;
  transition: opacity 1s background-color 1s;
  margin-top: 25px;
}
.submit_button:hover{
	opacity: 0.5;
}
.submit-button:active{
 background-color: rgb(0, 255, 117);
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.15rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.425rem 0.85rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 736px) 
  and (orientation: portrait){ 
  body{
    background-color: rgb(228, 232, 255); 
  }
  .form{
    margin-top: 15vh;
    width: auto;
  }
.key_input{
  width: 50%;
}
.submit_button{
  width: 50%;
}
.box{
  width: 50%;
}
.checkbox_block{
  width: 50%;
}
.header{
 height: 10vh;
 line-height: 10vh;
}
.header_text{
font-size: 60px;
}
.logo{
  line-height: 10vh;
}
.login{
font-size: 35px;
}
.header_block{
  line-height: 5vh;
}
.exit_button{
font-size: 35px;
}
.layer{
top: 10vh;
}
}
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 736px) 
  and (orientation: landscape){ 
  body{
    background-color: rgb(228, 232, 255); 
  }
  .form{
    margin-top: 150px;
    width: auto;
  }
.key_input{
  width: 50%;
}
.submit_button{
  width: 50%;
}
.box{
  width: 50%;
}
.checkbox_block{
  width: 50%;
}
.header{
 height: 100px;
 line-height: 100px;
}
.header_text{
font-size: 60px;
}
.logo{
  line-height: 100px;
}
.login{
font-size: 35px;
}
.header_block{
  line-height: 50px;
}
.exit_button{
font-size: 35px;
}
.layer{
top: 100px;
}
}